<!DOCTYPE HTML>
	<html lang="en">
<head>
	<title>Digiminer</title>
	<link rel="stylesheet" href="/dh.css" type="text/css"/>
</head>
<header>
	<h1><strong>Digiminer</strong></h1>
</header>
<body onload="addForms()", >
	<div id="dataset_inputs">
		<form action="/insert_data" method="POST">
			<table id="tableData">
				<thead>
					<th>{{inputs}}</th>
					<th>Sender</th>
					<th>Sender Location</th>
					<th>Recipient</th>
					<th>Recipient Location</th>
					<th>Quantity</th>
					<th>Units</th>
				</thead>
				<tbody id="input"></tbody>
				<tbody id="data_template">
					<tr>
						<td><input id="{{col0}}" type="text", name="project_name"/></td>
						<td><input id="{{col1}}" type="int"/></td>
						<td><input id="{{col2}}" type="text"/></td>
						<td><input id="{{col3}}" type="text"/></td>
						<td><input id="{{col4}}" name="recipient_loc" type="text"/></td>
						<td><input id="{{col5}}" name="quantity" type="INT"/></td>
						<td><input id="{{col6}}" name="units" type="text"/></td>
						<!-- <td><input id="additional" name="additional" type="text"/></td> -->
					</tr>
				</tbody>
			</table>
			<button id="ActionAddRow">Add Row</button>
			<input type="submit" value="Submit">
		</form>
	</div>
	<p id="num_inputs">{{inputs}}</p>
	<div id="form_generation"></div>
	<script src="/js/add_data.js"></script>
</body>
</html>




